[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appnope = "*"
astroid = "*"
async-timeout = "*"
atomicwrites = "*"
attrs = "*"
autopep8 = "*"
backcall = "*"
beautifulsoup4 = "*"
cachetools = "*"
certifi = "*"
chardet = "*"
click = "*"
decorator = "*"
dnspython = "*"
eventlet = "*"
google-api-core = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-cloud-core = "*"
google-cloud-firestore = "*"
google-cloud-tasks = "*"
google-python-cloud-debugger = "*"
greenlet = "*"
grpcio = "*"
gunicorn = "*"
httplib2 = "*"
idna = "*"
importlib-metadata = "*"
ipython = "*"
isort = "*"
itsdangerous = "*"
jedi = "*"
lazy-object-proxy = "*"
lxml = "*"
mccabe = "*"
monotonic = "*"
more-itertools = "*"
multidict = "*"
mypy = "*"
mypy-extensions = "*"
oauth2client = "*"
parso = "*"
pathlib2 = "*"
pexpect = "*"
pickleshare = "*"
pluggy = "*"
prompt-toolkit = "*"
protobuf = "*"
ptyprocess = "*"
py = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycodestyle = "*"
pylint = "*"
pyparsing = "*"
pytest = "*"
python-dateutil = "*"
python-engineio = "*"
pytz = "*"
requests = "*"
rope = "*"
rsa = "*"
setuptools = "*"
simplegeneric = "*"
six = "*"
soupsieve = "*"
traitlets = "*"
typed-ast = "*"
typing-extensions = "*"
uritemplate = "*"
urllib3 = "*"
wcwidth = "*"
wrapt = "*"
yarl = "*"
zipp = "*"
Flask = "*"
ipython_genutils = "*"
Jinja2 = "*"
MarkupSafe = "*"
Pygments = "*"
Werkzeug = "*"
yapf = "*"
tinycss2 = "*"
pip = "*"
google-cloud-profiler = "*"

[requires]
python_version = "3.7"
